@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply max-w-5xl mx-auto px-5 py-5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }
}

@layer components {
  .btn {
    @apply inline-block px-3.5 py-2 bg-github-blue text-white rounded-md no-underline mt-2.5;
  }
  
  .btn:hover {
    @apply bg-github-blue-dark no-underline;
  }
}

@layer components {
  .slide-reveal {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  
  .slide-reveal::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #000000; /* or whatever color you want */
    z-index: 1;
    animation: slideOver 1.5s ease-in-out;
  }
  
  @keyframes slideOver {
    0% {
      left: -100%;
    }
    50% {
      left: 0;
    }
    100% {
      left: 100%;
    }
  }
}