@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&family=Funnel+Display:wght@300..800&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --font-mono-display: "Major Mono Display", monospace;
  --font-coral-pixels: "Coral Pixels", sans-serif;
  --font-funnel-display: "Funnel Display", sans-serif;
  --font-megrim: "Megrim", monospace;
}

@layer base {
  html,
  body {
    @apply min-h-screen bg-black text-gray-100;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }
}

h1, h2 {
  font-family: var(--font-mono-display);
}

p {
  font-family: var(--font-funnel-display);
}

@layer components {
  .btn {
    @apply inline-flex items-center px-3.5 py-2 bg-transparent text-github-blue rounded-md no-underline mt-2.5;
  }
  .btn:hover {
    @apply text-github-blue-dark bg-transparent;
  }
}

@layer components {
  .slide-reveal {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  
  .slide-reveal::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #000000; /* or whatever color you want */
    z-index: 1;
    animation: slideOver 1.5s ease-in-out;
  }
  
  @keyframes slideOver {
    0% {
      left: -100%;
    }
    50% {
      left: 0;
    }
    100% {
      left: 100%;
    }
  }
}